### List, Dictionaries and Sets

##### List - Lists are used to store multiple items in a single variable. Lists are created using square brackets List items are ordered, changeable, and allow duplicate values.

##### Dictionaries - Dictionaries are used to store data values in key:value pairs. Dictionaries are written with curly brackets, and have keys and values. Dictionary items are ordered, changeable, and does not allow duplicates

##### Sets - Sets are used to store multiple items in a single variable. A set is a collection which is both unordered and unindexed.Sets are written with curly brackets

In [4]:
mylist=[1,2,3,4,56,66,77,88]

In [12]:
mylist[3:8:2]

[4, 66, 88]

In [13]:
mylist.pop()

88

In [14]:
mylist

[1, 2, 3, 4, 56, 66, 77]

In [15]:
mylist.pop(4)

56

In [16]:
mylist

[1, 2, 3, 4, 66, 77]

In [17]:
mylist.reverse()

In [18]:
mylist

[77, 66, 4, 3, 2, 1]

In [19]:
mylist.sort()

In [20]:
mylist

[1, 2, 3, 4, 66, 77]

In [29]:
myBook_Store=['7 Habits','Meluha','Python','You can win','Wining Digital Age']

In [35]:
myBook_Store.sort(reverse=True)

In [36]:
myBook_Store

['You can win', 'Wining Digital Age', 'Python', 'Meluha', '7 Habits']

In [37]:
myBook_Store[1]="5 AM club"

In [38]:
myBook_Store

['You can win', '5 AM club', 'Python', 'Meluha', '7 Habits']

In [39]:
for i in myBook_Store:
    print(i)

You can win
5 AM club
Python
Meluha
7 Habits

In [41]:
print(sorted(mylist,reverse=True))

[77, 66, 4, 3, 2, 1]

In [48]:
mylist.remove(77)

In [49]:
mylist

[1, 2, 66]

In [50]:
mylist=[5,6,9,['Gender','Age'],'Books',0.6,55.99]

In [52]:
mylist1=mylist

In [53]:
mylist1

[5, 6, 9, ['Gender', 'Age'], 'Books', 0.6, 55.99]

In [58]:
mylist[4]="Headphone"

In [59]:
mylist

[5, 6, 9, ['Gender', 'Age'], 'Headphone', 0.6, 55.99]

In [56]:
mylist1

[5, 6, 9, ['Gender', 'Age'], 'Telephone', 0.6, 55.99]

In [57]:
mylist1=mylist.copy()

In [60]:
mylist1

[5, 6, 9, ['Gender', 'Age'], 'Telephone', 0.6, 55.99]

In [61]:
mylist1=list(mylist)

In [62]:
mylist[3][0]="Capacity"

In [63]:
mylist

[5, 6, 9, ['Capacity', 'Age'], 'Headphone', 0.6, 55.99]

In [64]:
mylist1

[5, 6, 9, ['Capacity', 'Age'], 'Headphone', 0.6, 55.99]

In [65]:
mylist.clear()

In [66]:
mylist

[]

In [67]:
mylist1

[5, 6, 9, ['Capacity', 'Age'], 'Headphone', 0.6, 55.99]

In [68]:
mylist1.append([5,6,"Hello"])

In [69]:
mylist1

[5, 6, 9, ['Capacity', 'Age'], 'Headphone', 0.6, 55.99, [5, 6, 'Hello']]

In [70]:
mylist1.append(99)

In [71]:
mylist1

[5, 6, 9, ['Capacity', 'Age'], 'Headphone', 0.6, 55.99, [5, 6, 'Hello'], 99]

In [72]:
mylist1.extend([4,9,6,"Hi","Test"])

In [75]:
print(mylist1)

[5, 6, 9, ['Capacity', 'Age'], 'Headphone', 0.6, 55.99, [5, 6, 'Hello'], 99, 4, 9, 6, 'Hi', 'Test']

In [78]:
l1=[]
for i in range(1,11):
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8, 10]

In [84]:
mylist1[3].count("Capacity")

1

In [91]:
mylist1[3].index("Age")

1

In [92]:
mylist1[3][1]

'Age'

In [97]:
employeeDeatils={
        "Employeeid":"E001",
        "EmpName":"Sandeep Kumar",
        "EmpDesignation":"Data Analyst ",
        "EmpSalary":50000,
        "EmpAge":30,
    
}

In [98]:
type(employeeDeatils)

dict

In [114]:
for i in employeeDeatils.keys():
    print(employeeDeatils[i])

E001
Sandeep Kumar
Data Analyst
50000
30

In [129]:
employeeDeatils["EmpSalary"]=70000

In [115]:
for i in employeeDeatils.values():
    print(i)

E001
Sandeep Kumar
Data Analyst
50000
30

In [117]:
employeeDeatils.keys()

dict_keys(['Employeeid', 'EmpName', 'EmpDesignation', 'EmpSalary', 'EmpAge'])

In [125]:
employeeDeatils.update({"Address":"New Delhi"})

In [126]:
employeeDeatils

{'Employeeid': 'E001',
 'EmpName': 'Sandeep Kumar',
 'EmpDesignation': 'Data Analyst ',
 'EmpSalary': 50000,
 'EmpAge': 30,
 'Address': 'New Delhi'}

In [127]:
employeeDeatils.update({"EmpSalary" : 7000000})

In [128]:
employeeDeatils

{'Employeeid': 'E001',
 'EmpName': 'Sandeep Kumar',
 'EmpDesignation': 'Data Analyst ',
 'EmpSalary': 7000000,
 'EmpAge': 30,
 'Address': 'New Delhi'}

In [130]:
employeeDeatils

{'Employeeid': 'E001',
 'EmpName': 'Sandeep Kumar',
 'EmpDesignation': 'Data Analyst ',
 'EmpSalary': 70000,
 'EmpAge': 30,
 'Address': 'New Delhi'}

In [131]:
states={'New Delhi',"Jharkhand",'UP',"Bihar","MP","RAJSTHAN","New Delhi"}

In [132]:
states

{'Bihar', 'Jharkhand', 'MP', 'New Delhi', 'RAJSTHAN', 'UP'}

In [134]:
states.add("Hello")

In [135]:
states

{'Bihar', 'Hello', 'Jharkhand', 'MP', 'New Delhi', 'RAJSTHAN', 'UP'}

In [137]:
states.pop()

'Hello'

In [138]:
states

{'Bihar', 'Jharkhand', 'MP', 'New Delhi', 'RAJSTHAN', 'UP'}

In [145]:
s1={"Amish","Robin","shiv","geeta","premchand","geeta"}

In [144]:
s2={"Sandeep","Kiran","Amit","Dilip","Krishna","Amish"}

In [146]:
s3=s1.union(s2)

In [147]:
print(s3)

{'Amish', 'Dilip', 'Amit', 'Robin', 'geeta', 'Krishna', 'shiv', 'Kiran', 'Sandeep', 'premchand'}

In [148]:
s3=s1.difference(s2)

In [149]:
s3

{'Robin', 'geeta', 'premchand', 'shiv'}

In [155]:
s2.discard("Dilip")

In [156]:
print(s2)

{'Amish', 'Amit', 'Krishna', 'Sandeep', 'Kiran'}

In [157]:
s3=s1.intersection(s2)

In [158]:
s3

{'Amish'}

In [160]:
s4=set(s3)

In [161]:
s4

{'Amish'}

In [162]:
list(s4)

['Amish']

In [167]:
s5=dict()

In [169]:
s5=({"Key1":111111})

In [170]:
s5

{'Key1': 111111}